################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/ClientApp/.env.development
/.vs/GameStore/config
/.vs/GameStore/DesignTimeBuild
/Deleted data
