html {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.card-conteiner {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: 2%;
}

.footer {
    background: lightgray;
}

#to-top-btn {
    position: fixed;
    width: 65px;
    height: 65px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    cursor: pointer;
    padding: 15px;
    /* Safari */
    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* IE10+/Edge */
    -ms-user-select: none;
    /* стандарт */
    user-select: none;
}

.border-gradient {
    border: 5px solid;
    border-image: linear-gradient(213deg, #ff5f5f 0%, rgba(45, 54, 120, 1) 50%, #96418d 100%) 1;
}

.text-gradient {
    font-size: 24px !important;
    background: -webkit-linear-gradient(50deg, #ff5f5f 0%, rgb(184, 30, 81) 50%, #96418d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-warm {
    color: #ff793a;
}

.no-outline {
    outline: none;
}

.pointer {
    cursor: pointer;
}

input {
    box-shadow: none;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
    position: relative;
}

input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    transition: .3s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"]:hover+label:hover {
    color: rgb(177, 177, 177);
}

input[type="checkbox"]:hover+label:before {
    color: #2c0000;
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
}

input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, 0.2s ease-in-out;
    transition: all 0.2s, 0.2s ease-in-out;
    background: #f3f3f3;
}

input[type="checkbox"]:checked+label:before {
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.2em;
    border: 2px solid #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #50565a;
    box-shadow: 0 0 0 1px #000;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group.required .control-label::after {
    content: "*";
    color: red;
}

.form-group.required .col-form-label::after {
    content: "*";
    color: red;
}

.checkbox-unique>* {
    margin-top: -20px;
}

.dis-grid {
    display: grid;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.modal-visible {
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.drop-list {
    position: absolute;
    overflow: hidden;
    z-index: 6;
    height: 0;
    transition: .3s;
    background-color: white;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.close-modal {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.absolute-centered {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 75%;
    max-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.waviy {
    position: relative;
    color: rgb(68, 68, 68);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100%;
}

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 60px;
    text-transform: uppercase;
    animation: flip 1s infinite;
    animation-delay: calc(.2s * var(--i));
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

.i1 {
    --i: 1;
}

.i1 {
    --i: 2;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

.responsive-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    margin-top: -15px;
    font-size: 18px;
}

.responsive-table thead th {
    font-weight: bold;
}

.responsive-table tr {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    height: 5rem;
}

.responsive-table>tbody>tr>td:first-child {
    font-weight: bold;
}

.responsive-table thead {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.responsive-table tr {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.btn-75px {
    height: 75px;
    font-size: large;
}

.min-200 {
    min-width: 200px;
}

.line-height-normal {
    line-height: normal;
}

.width-inherit {
    width: inherit;
}

.height-inherit {
    height: inherit;
}

.my-carousel-item {
    position: relative;
}

.responsive-image {
    transition: .7s;
}

.responsive-image:hover {
    transform: scale(1.1);
}

.hotqcontent span.nested {
    display: none;
}

.my-carousel-content .responsive-carousel-title {
    background-color: #343a3f;
    opacity: 0;
    transition: .3s;
    z-index: 1;
    transform: translateY(-30px);
}

.my-carousel-content:hover .responsive-carousel-title {
    transform: translateY(0);
    opacity: 1;
}

.carousel-item-price {
    bottom: 0;
    right: 0;
    z-index: 1;
}

.z-index-top * {
    z-index: 10000;
}

.z-index-95 * {
    z-index: 95;
}

.rounded-all-0 * {
    border-radius: 0 !important;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.prevent-select * {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Scrollbar */

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.icon-normal {
    transition: all 0.2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.icon-normal.icon-down {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    color: #a12525;
}
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 10;
}

.bg-gray-gradient-bottom {
    background: linear-gradient(to bottom, rgb(32, 32, 32), rgb(255, 255, 255, 0));
}

.bg-gray-gradient-top {
    background: linear-gradient(to top, rgb(32, 32, 32), rgb(255, 255, 255, 0));
}


.preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader__spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.transition-1{
    transition: 0.1s;
}

.dropdown-item{
    background-color: transparent !important;
}