/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
/* checkbox styling */
.checkbox-rect2 input[type="checkbox"] {
    display: none;
}

    .checkbox-rect2 input[type="checkbox"] + label {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 20px;
        font: 14px/20px "Open Sans", Arial, sans-serif;
        cursor: pointer;
    }

    .checkbox-rect2 input[type="checkbox"]:hover + label:hover {
        color: rgb(23, 86, 228);
    }

    .checkbox-rect2 input[type="checkbox"]:hover + label:before {
        border: 1px solid #343a3f;
        box-shadow: 2px 1px 0 #343a3f;
    }

    .checkbox-rect2 input[type="checkbox"] + label:last-child {
        margin-bottom: 0;
    }

    .checkbox-rect2 input[type="checkbox"] + label:before {
        content: "";
        display: block;
        width: 1.4em;
        height: 1.4em;
        border: 1px solid #343a3f;
        border-radius: 0.2em;
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transition: all 0.2s, background 0.2s ease-in-out;
        transition: all 0.2s, background 0.2s ease-in-out;
        background: rgba(255, 255, 255, 0.03);
        box-shadow: -2px -1px 0 #343a3f;
        background: #f3f3f3;
    }

    .checkbox-rect2 input[type="checkbox"]:checked + label:before {
        border: 2px solid #fff;
        border-radius: 0.3em;
        background: #50565a;
        box-shadow: 2px 1px 0 #50565a;
    }

.remember {
    color: white;
}
/* checkbox styling  end*/

.input-holder {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 7px black;
}

    .input-holder div {
        padding: 10px;
    }

#sign-form {
    display: flex;
    background-image: url('https://images.unsplash.com/photo-1565151284956-f36a351d6157?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.my-card-left h1 {
    padding-bottom: 20px;
}

@media(max-width: 720px) {
    #sign-form {
        flex-direction: column;
    }
}

.my-card-left {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

#sign-form .checkbox-input {
    margin-right: 10px;
}

#sign-form .text-input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 3px solid black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

    #sign-form .text-input:focus {
        border-bottom: 2px solid #16a085;
        color: #16a085;
        transition: 0.2s ease;
    }

#sign-form input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

    #sign-form input[type="submit"]:hover,
    #sign-form input[type="submit"]:focus {
        opacity: 0.8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

    #sign-form input[type="submit"]:active {
        opacity: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

.or {
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
    margin: auto auto;
}

.my-card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

.card-right {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
}

button.social-signin {
    margin: 10px 0;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

    button.social-signin:hover,
    button.social-signin:focus {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.2s ease;
    }

    button.social-signin:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.2s ease;
    }

    button.social-signin.facebook {
        background: #32508E;
    }

    button.social-signin.twitter {
        background: #55ACEE;
    }

    button.social-signin.google {
        background: #DD4B39;
    }