a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-toggler {
    max-width: 50px;
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.header {
    z-index: 5;
    background: white;
    border-bottom: inset 1px black;
    transition: 1s;
}

.sticky {
    transform: scale(.95);
    background: rgb(255, 255, 255, .8);
    position: fixed;
    top: 0;
    width: 100%;
}
.counter{
    background-color: black;
    font-size: 13px;
    position: relative;
    color: white;
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    bottom: 10px;
    right: 5px;
}