a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-toggler {
    max-width: 50px;
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.header {
    z-index: 99;
    background: linear-gradient(90deg, rgb(168, 124, 43), rgb(241, 168, 32));
    border-bottom: inset 1px black;
    transition: 1s;
    color: white !important;
    position: fixed;
    top: 0;
    width: 100%;
}

.highlight-green {
    background-color: green !important;
}

.highlight-red {
    background-color: red !important;
}

.counter {
    background-color: black;
    font-size: 13px;
    font-weight: 600px;
    position: relative;
    color: white;
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    bottom: 10px;
    right: 5px;
    transition: .3s ease-out all;
}